
    /* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
}

.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post-box:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post-box h5 {
    font-weight: bold;
}

/* Header e Navbar */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

header h1 {
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    color: #ff6347;
}

/* Layout do conteúdo */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para os Posts */
h1, h2, h3 {
    color: #333;
    margin-bottom: 15px;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    color: #333;
    text-decoration: none;
}

ul li a:hover {
    color: #ff6347;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Estilos para o Formulário */
form {
    display: flex;
    flex-direction: column;
}

form input[type="text"],
form textarea {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #ff6347;
}

.post-box {
    background-color: #fff;
    border: 1px solid #e1e4e8;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    position:static;
    width: 100%;
    bottom: 0;
}

