{% extends 'blog/base.html' %}

{% block title %}Post List{% endblock %}

{% block content %}

<div class="container"></div>
    <h1>Lista de Posts</h1>

    <form method="GET" action="{% url 'post_list' %}" class="form-inline mb-4">
        <input type="text" name="q" placeholder="Pesquisar por título" value="{{ query }}" class="form-control mr-2">
        <button type="submit" class="btn btn-primary">Pesquisar</button>
    </form>

    <ul >
        {% for post in posts %}
        <li >
            <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
        </li>
        {% empty %}
        <li class="list-group-item">Nenhum post encontrado.</li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
