{% extends 'blog/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<style>
    .long-text {
        word-wrap: break-word;
        word-break: break-word;
    }
</style>
    
<div class="container">
    
    <!-- Search Form -->
    <form method="GET" action="{% url 'post_list' %}" class="form-inline mb-4" id="search-form">
        <input type="text" name="q" id="search-input" placeholder="Search by title" value="{{ query }}" class="form-control mr-2">
    </form>
    <!-- Feed with Dynamic Post List -->
    <div class="feed">
        <ul id="post-list">
            <h1>Post List</h1>
           
            {% for post in posts %}
            <div class="post-box">
                <h5>{{ post.title }}</h5>
                <p><strong>By {{ post.author.username }}</strong> - {{ post.created_at|date:"d M Y, H:i" }}</p>
                <p class="long-text">
                    {{ post.content|truncatewords:50 }}
                    <span class="hidden-text" style="display: none;">{{ post.content | slice:99999999999999999   }}</span>
                    <a href="#" class="show-more">Ver mais</a>
                </p>
                {% if post.image %}
                    <img src="{{ post.image.url }}" alt="{{ post.title }}">
                {% endif %}
                <div class="d-flex justify-content-between mt-2">
                    <a href="{% url 'post_detail' post.pk %}" class="btn btn-outline-primary btn-sm">View</a>
                </div>
            </div>
            {% empty %}
            <li class="list-group-item">No posts found.</li>
            {% endfor %}
        </ul>
    </div>
</div>

<!-- AJAX Search Script -->
<script>
    document.getElementById('search-input').addEventListener('input', function() {
        const query = this.value;
        const xhr = new XMLHttpRequest();
        const url = "{% url 'post_list' %}?q=" + encodeURIComponent(query);

        xhr.open('GET', url, true);
        xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');  // Define como uma requisição AJAX

        xhr.onload = function() {
            if (xhr.status === 200) {
                const parser = new DOMParser();
                const doc = parser.parseFromString(xhr.responseText, 'text/html');
                const newPosts = doc.getElementById('post-list').innerHTML;
                document.getElementById('post-list').innerHTML = newPosts;
            }
        };

        xhr.send();
    });

    document.querySelectorAll('.show-more').forEach(function(link) {
        link.addEventListener('click', function(e) {
            e.preventDefault();
            const target = this.previousElementSibling;
            target.style.display = 'inline';  // Mostra o restante do texto
            this.style.display = 'none';  // Esconde o link "Ver mais"
        });
    });
</script>
{% endblock %}
