{% extends 'blog/base.html' %}

{% block title %}Criar Conta{% endblock %}

{% block content %}
<h1>Cria a tua conta</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Registar</button>
</form>

<p>Já tens uma conta? <a href="{% url 'login' %}">Faz login aqui</a>.</p>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}
